.card {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;

    margin-top: 150px;
    border-radius: 10px;

    
}
#card-container {

background-color: #001427;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
.htmllogo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
   
}

.csslogo {
    width: 23px;
    height: 23px;
   margin-left: -2px;
   margin-right: 5px;
}


.some-info-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #efebce
}

.about-me-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #efebce;
}

.jslogo {
    width: 20px;
    height: 20px;

    margin-left: -2px;
    margin-right: 5px;
}

.javalogo {
    width: 20px;
    height: 20px;
    margin-left: -2px;
    margin-right: 5px;
}

.androidstudioLogo {
    width: 20px;
    height: 20px;
    margin-left: -2px;
    margin-right: 5px;
}

.herokulogo {
    width: 20px;
    height: 20px;
    margin-left: -2px;
    margin-right: 5px;
}

.postgresql {
    width: 20px;
    height: 20px;
    margin-left: -2px;
    margin-right: 5px;
}

#button-50 {

    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    color: #fff;
    width: 120px;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    line-height: 10px;
    padding: 10px;
    overflow: visible;
    text-decoration: none;
    touch-action: manipulation;
  }
#card-btn-txt {
    position: relative;
    margin-left: 30px;
    height: 1px;
    top: 3px;
}
  #btn-txt {
    position: relative;
    margin-left: -12px;
    top: -8px;
    height: 1px;
  }
  #button-50:focus {
    text-decoration: none;
  }
  .a-social-link {
    padding: 13px;
  }
  
  #button-50:hover {
    text-decoration: none;
  }
  
  #button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  #button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }

}